.user_form_login--page{
    display: flex;
    align-items: center;
    justify-content: center;
 }

.user_form_login--wrapper{
   margin: 2rem 2rem 1rem 1rem;
   width: 35rem;
}

.user_form_login--icon{
    color: lightblue;
}

.user_form_login--input{
    margin-top: 2rem;
}

.user_form_login--footer{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 2rem;
}

.user_form_login--button{
    margin-top: 2rem;
}