.app-layout{
    background-color: #f0f2f5;
    height: 100vh;
    width: 100vw;
}

.app-layout_header{
    background: white !important;
    border-bottom: 3px solid #1890ff;
    height: 5rem;
    padding: 0;
}

.app-layout_header--title{
    margin-top: 0.25rem;
}

.app-layout_sidebar{
    background: white !important;
    padding: 0;
}

.app-layout_content{
    background: white;
    padding: 2rem;
    margin: 2rem;
}

.app-layout_sidebar--icon{
   > svg {
    color: red;
   }
}